body {
  margin: 0;
  padding: 0;  
}

@font-face {
  font-family: "Teko-Bold";
  src: url(../fonts/Teko-Bold.ttf);
}
@font-face {
  font-family: "Teko-Medium";
  src: url(../fonts/Teko-Medium.ttf);
}
.cont {
  display: flex;
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

.cont__texto {
  width: 40%;
  padding: 20px;
}
.cont__texto h2 {
  font-size: 28pt;
  font-family: "Teko-Bold";
  color: #041562;
}
.cont__texto p {
  font-size: 18pt;
  font-family: "Teko-Medium";
  color: #CD1818;
}

.cont__img {
  width: 60%;
  padding: 10px;
}
.cont__img .img {
  width: 100%;
}/*# sourceMappingURL=estilos.css.map */