@import 'variables';
body{
    margin: 0;
    padding: 0;
    color: $color-body;
}
@font-face{
    font-family: "Teko-Bold";
    src: url(../fonts/Teko-Bold.ttf);
}
@font-face{
    font-family: "Teko-Medium";
    src: url(../fonts/Teko-Medium.ttf);
}
.cont{   
    display: flex;
    margin: 10px 0px 10px 0px;
    padding: 10px;    
}
.cont__texto{
    width: 40%;
    padding: 20px;    
    h2{
        font-size: 28pt;
        font-family: "Teko-Bold";
        color: $color-titulo;
    }
    p{
        font-size: 18pt;
        font-family: "Teko-Medium";
        color: $color-texto;  
    }   
}
.cont__img{
    width: 60%;
    padding: 10px;
    .img{
        width: 100%;            
    }
}
